body,html {
  background:#fff; 
  height: 100%; 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

form {
  border: 1px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 30px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 60%;
  border-radius: 50%;
}

.container {

  padding: 65px;
}

.content {
  width: 450px;
  margin: auto;
  padding: 35px;
  background: white;
}

.center {
  text-align: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.button3 {
  font-size: 16px;
  padding: 14px 30px;
}

#header {height: 30px; display: flex; align-items: center;}
#headerContent {margin: 0px;}
#main {background:#888; display: flex; height: calc( 90vh - 60px - 30px);}
#left {background:#F9F5F4; width: 250px; align-items: center;}
#right {padding: 160px; overflow: scroll; flex: 1 0 auto;}
#foot  {background:#f88;}​