<link rel="stylesheet" th:href="@{/css/navbar.css}">

<div class="header-app" th:fragment="header">
    <nav th:class="${#strings.contains(#httpServletRequest.requestURI, '/home')}? 'navbar navbar-expand-lg navbar-dark fixed-top' : 'navbar navbar-expand-lg navbar-dark fixed-top bg-dark'" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/login">IMB GROUP</a> 
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse mr-3" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/catalog">Catalog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/leaderboard" sec:authorize="hasRole('USER')">Leaderboard</a></li>
                    <div sec:authorize="hasRole('USER') AND NOT hasRole('ADMIN')">
                        <li class="nav-item"><a class="nav-link" href="/myevent">My Event</a></li>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')">
                        <li class="nav-item"><a class="nav-link" href="/eventhistory">Event History</a></li>
                    </div>
                    
                    <li class="nav-item" sec:authorize="hasRole('USER') AND NOT hasRole('ADMIN')"><a class="nav-link" href="/profile"><i class="fa fa-user-circle fa-2x mr-1"></i>
                        <span id="welcomeProfile"></span></a></li>
                   

                </ul>
            </div>
            <form id="logoutform" action="/logout" class="form-inline my-0 my-2 my-lg-0">
                <a id="logoutButton" class="btn btn-outline-danger my-2 my-sm-0" th:href="@{/logout}" aria-hidden="true" href="#">Logout</a>
            </form>
        </div>
    </nav>
</div>

