<div class="modal-add" th:fragment="modal-add">
    <div class="prtfolio-modal modal" id="create-event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>

                        <div class="mb-3 row">
                            <label for="name" class="col-sm-2 col-form-label">Tittle</label>
                            <div class="col-sm-10">
                            <input type="text" id="event-name" class="form-control" placeholder="Event's Title" required> 
                            <div class="invalid-feedback">
                                Please enter your event name.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                            <textarea type="text" id="event-desc" class="form-control" placeholder="Description" required></textarea>
                            <div class="invalid-feedback">
                                Please fill description.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="trainer" class="col-sm-2 col-form-label">Trainer</label>
                            <div class="col-sm-10">
                            <input type="text" id="event-trainer" class="form-control" placeholder="Trainer" required> 
                            <div class="invalid-feedback">
                                Please fill trainer.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="quota" class="col-sm-2 col-form-label">Quota</label>
                            <div class="col-sm-10">
                            <input type="number" id="event-quota" class="form-control" placeholder="Quota" required> 
                            <div class="invalid-feedback">
                                Please fill quota.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="requirement" class="col-sm-2 col-form-label">Requirement</label>
                            <div class="col-sm-10">
                            <input type="text" id="event-req" class="form-control" placeholder="Requirement" required> 
                            <div class="invalid-feedback">
                                Please fill requirement.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="point" class="col-sm-2 col-form-label">Point</label>
                            <div class="col-sm-10">
                            <input type="number" id="event-point" class="form-control" placeholder="Point" required> 
                            <div class="invalid-feedback">
                                Please fill point.
                            </div>
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-10">
                            <select class="form-control" id="event-categoryId" required>
                                <option value="" selected>--select category--</option>
                                <option th:each="c:${category}" th:value="${c.id}" th:text="${c.name}" ></option>
<!--                                <option value="1" >New Employee Orientation</option>
                                <option value="2">Soft Skill Training</option>
                                <option value="3">Technical Training</option>!-->
                            </select> 
                            <div class="invalid-feedback">
                                Please fill category name.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="schedule.date" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                            <input type="date" id="event-date" class="form-control" placeholder="" required> 
                            <div class="invalid-feedback">
                                Please fill date.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="schedule.startTime" class="col-sm-2 col-form-label">Time</label>
                            <div class="col-sm-4">
                            <input type="time" id="event-start" class="form-control" placeholder="" required> 
                            <div class="invalid-feedback">
                                Please fill start time.
                            </div>
                            </div>
                        

                        
                            <label for="schedule.endTime" class="col-form-label text-center">-</label>
                            <div class="col-sm-4">
                            <input type="time" id="event-end" class="form-control" placeholder="" required> 
                            <div class="invalid-feedback">
                                Please fill end time.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="schedule.location" class="col-sm-2 col-form-label">Location</label>
                            <div class="col-sm-10">
                            <input type="text" id="event-loc" class="form-control" placeholder="Location" required> 
                            <div class="invalid-feedback">
                                Please fill location.
                            </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Is event online?</label>
                            <div class="col-sm-10">
                            <select class="form-control" id="event-isOnline" required>
                                <option value="" selected></option>
                                <option value=true >Yes</option>
                                <option value=false>No</option>
                            </select> 
                            <div class="invalid-feedback">
                                Please choose your answer.
                            </div><br>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="createForm" type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>