<div class="sidebar-container" th:fragment="sidebar">

    <div class="sidebar-logo">Client-Apps</div>

    <ul class="sidebar-navigation my-3">
        <li class="header">MENU</li>
        <li th:class="${#strings.contains(#httpServletRequest.requestURI,'/home')} ? 'menu-item active' : 'menu-item'">
            <a th:href="@{/home}" class="menu-link">
                <i class="fa fa-home" aria-hidden="true"></i> Dashboard
            </a>
        </li>
        
        <li th:class="${#strings.contains(#httpServletRequest.requestURI,'/catalog')} ? 'menu-item active' : 'menu-item'"
            sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/catalog}" class="menu-link">
                <i class="fa fa-folder-open" aria-hidden="true"></i> Catalog
            </a>
        </li>

        <li th:class="${#strings.contains(#httpServletRequest.requestURI,'/leaderboard')} ? 'menu-item active' : 'menu-item'">
            <a th:href="@{/leaderboard}" class="menu-link">
                <i class="fa fa-folder-open" aria-hidden="true"></i> Leaderboard
            </a>
        </li>
        
        <li th:class="${#strings.contains(#httpServletRequest.requestURI,'/myevent')} ? 'menu-item active' : 'menu-item'">
            <a th:href="@{/myevent}" class="menu-link">
                <i class="fa fa-users" aria-hidden="true"></i> My Event
            </a>
        </li>
        
        <li th:class="${#strings.contains(#httpServletRequest.requestURI,'/historyevent')} ? 'menu-item active' : 'menu-item'">
            <a th:href="@{/historyevent}" class="menu-link">
                <i class="fa fa-users" aria-hidden="true"></i> History Event
            </a>
        </li>
        
    </ul>
       
</div>