<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    
<p>Hi <span th:text="${userName}"></span>
    </p>
    <p>
       We want to inform you there are an update about the event, <b th:text="${eventName}">title</b>.
       Here are the details:
    </p>
    <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
    <div>Date : <span th:text="${#dates.format(sdf.parse(date), 'EEE, d MMM yyyy')}"></span></div>
    </th:block>
    <th:block th:with="sdf = ${new java.text.SimpleDateFormat('HH:mm:ss')}">
    <div>Time : <span th:text="${#dates.format(sdf.parse(startTime), 'HH:mm')}"></span> - <span th:text="${#dates.format(sdf.parse(endTime), 'HH:mm')}"></span></div>
    </th:block>
    <div>Location : <span th:text="${loc}"></span></div>
    
    <p>
      Please accept our sincerest apologies for any inconvenience this may cause. We hope you still can attend the event. 
    </p>
    
    <p>
        See you there!
    </p>
    
    <p>
      Best Regards, <br />
      <em>IMB Training Management Team</em>
    </p>
  </body>
</html>
