<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    
<p>Hi <span th:text="${userName}"></span>
    </p>
    <p>
       Due to some conditions, we are sorry to inform you that the event, <b th:text="${eventName}">title</b>, has been canceled. 
       Please accept our sincerest apologies for any inconvenience this may cause.
    </p>
       
    
    <p>
      Don't forget to check out our other ongoing and upcoming events and check them out!
    </p>
    
    
    <p>
      Best Regards, <br />
      <em>IMB Training Management Team</em>
    </p>
  </body>
</html>
