<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Catalog</title>
    <th:block th:replace="fragments/header-link :: header-link"></th:block>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body id="page-top" >
    <!-- Navigation-->
    <div th:replace="fragments/header :: header"></div>
    
    

    <!-- Catalog Grid-->
    <section class="page-section bg-light" sec:authorize="hasRole('ADMIN')">
        <div class="container justify-content-md-center">
            <div>
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Event Catalog</h2>
                    <h3 class="section-subheading text-muted">Learn a new skill for a brilliant career.</h3>
                </div>

                <!--<div class="card mb-4">-->
                    <!--<div class="card-header">-->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-event" 
                        sec:authorize="hasRole('ADMIN')">
                        <i class="fas fa-plus" aria-hidden="true"></i>Add Event
                        </button>
                    <!--</div>-->
                    <!--<div class="card-body">-->
                        <!--<div class="table-responsive">-->
                            <table id="catalogadmin" class="table table-bordered table-striped table-hover-col-sm-3 wrap">
                                <thead class="text-center">
                                    <tr>
                                        <td>No</td>
                                        <td>Title</td>
                                        <td>Category</td>
<!--                                        <td>Description</td>
                                        <td>Requirement</td>-->
                                        <td>Point</td>
                                        <td>Trainer</td>
                                        <td>Date</td>
                                        <td>Time</td>
                                        <!--<td>Location</td>-->
                                        <td>Quota</td>
                                        <td>Pending Applicants</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </section>
            
        
        <section class="page-section bg-light" id="portfolio" sec:authorize="hasRole('USER')">
            <div id="catalogPage" class="container">
                
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Event Catalog</h2>
                    <h3 class="section-subheading text-muted">Learn a new skill for a brilliant career.</h3>
                </div>
                <label for="id_label_single">
                  Search by tittle:
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for title.." title="Type in a name"></input>
<!--                <select class="js-example-matcher form-control" id="id_label_single">
                    <option value="Soft Skill Training" ></option>
                </select>-->
                </label>
                <div id="cardEvent" class="grid-container justify-content-md-center">
                    <!-- EVENT 1 -->
    <!--                <div th:each="event: ${event}">
                        <div class="container col-lg-12 col-sm-16 m-8">
                            <div class="portfolio-item">
                                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal" th:onclick="|getById('${event.id}')|">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="css/images/event1.png" alt="..." />
                                </a>
                                <div class="portfolio-caption" th:object='${eventId}'>
                                    <div class="portfolio-caption-heading">
                                        <label th:text="${event.name}"></label></div>
                                    <div class="portfolio-caption-subheading text-muted">
                                        <label th:text="${event.category.name}"></label></div>
                                    <div class="portfolio-caption-subsubheading text-muted">
                                        <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
                                            <label th:text="${#dates.format(sdf.parse(event.schedule.date), 'EEE, d MMM yyyy')}" />
                                        </th:block>
                                    </div>
                                </div>
                                <div sec:authorize="hasRole('ADMIN')">
                                    <button 
                                            class='btn btn-sm btn-primary'
                                            data-toggle="modal" 
                                            data-target="#update-event"
                                            th:onclick="|getByIdUpdate('${event.id}')|"> 
                                            <i class='fas fa-sm fa-pencil-alt'></i>Edit
                                    </button>
                                    <button 
                                            class='btn btn-sm btn-danger' th:onclick="|softDelete('${event.id}')|">
                                        <i class='fas fa-sm fa-trash'></i> Cancel Event
                                    </button>
                                </div>
                            </div>
                        </div>-->
                    <div id="pager">
                          <ul id="pagination" class="pagination-lg"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <div th:replace="fragments/footer :: footer"></div>

    <!--Modal Event-->
    <div class="portfolio-modal modal" id="portfolioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  role="dialog">
        <div class="modal-dialog-scrollable"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventName"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="font-weight-bold">Description:</div>
                    <div class="text-justify" id="description"></div>
                    <br/>
                    <div><span class="font-weight-bold">Category: </span><span id="categoryName"></span></div>
                    <br/>
                    <div><span class="font-weight-bold">Requirement: </span><span id="requirement"></span></div>
                    <br/>
                    <div><span class="font-weight-bold">Point: </span><span id="point"></span></div>
                    <br/>
                    <div><span class="font-weight-bold">Trainer: </span><span id="trainer"></span></div>
                    <br/>
                    <div><span class="font-weight-bold">Date and time: </span>
                        <span id='eventDateTime'></span> - <span id="eventEndTime"></span></div>
                    <br/>
                    <div><span class="font-weight-bold">Location: </span><span id="eventLoc"></span></div>
                    <br/>
                    <div><span class="font-weight-bold">Quota: </span><span id="quota"></span></div>
                    <br/>
                    <div><span class="font-weight-bold">Total Applicants: </span><span id="applicant"></span></div>
                    <br/>
                    <a id="viewApplicantLink" class="card-link" sec:authorize="hasRole('ADMIN')"
                       >View pending applicants
                    </a>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button id="register" type="submit" class="btn btn-success"
                            sec:authorize="hasRole('USER') AND NOT hasRole('ADMIN')">Register</button>
                    <button type="button" id="closemodal" class="btn btn-secondary col-2" data-dismiss="modal">Close event</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal add event-->
    <div th:replace="fragments/modal-add :: modal-add"></div>

    <!--        Modal update event-->
    <div th:replace="fragments/modal-edit :: modal-edit"></div>

    <!--<script th:replace="fragments/script :: script"></script>-->






    <!--Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!--Contact form JS-->
<!--    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>-->
    
    <!--pagination-->
    <!--<script type="text/javascript" src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>-->
    <!--<script type="text/javascript" src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>-->
<!--    <script type="text/javascript" src="path_to/jquery.js"></script>
    <script type="text/javascript" src="path_to/jquery.simplePagination.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="js/pagination.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    
    <!--Core theme JS-->
    <script th:src="@{js/script.js}"></script>
    <script th:src="@{js/event/index-event.js}"></script>
    
    
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>


    <!--alert-->
    <script th:src="@{js/alert.js}"></script>
    <script src="js/index.js"></script>
    <script src="js/catalogadmin.js"></script>
    <script src="js/filter.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    

</body>
</html>