<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>My Event</title>
    <th:block th:replace="fragments/header-link :: header-link"></th:block>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <section class="page-section bg-light">
        <div class="container" id="_wrapper">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">My Event</h2>
                <!--<h3 class="section-subheading text-muted">Learn a new skill for a brilliant career.</h3>-->
            </div>
            <table id="my-event" class="table table-bordered table-striped table-hover-col-sm-3">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Title</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Status</td>
                        <td>Point</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Footer-->
    <div th:replace="fragments/footer :: footer"></div>


    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="js/my-event.js"></script>

    <script th:src="@{js/alert.js}"></script>
    <script src="js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>
