<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Presensi</title>
    <th:block th:replace="fragments/header-link :: header-link"></th:block>
</head>
<body th:onload="|getAll(${eventId})|">
    <div th:replace="fragments/header :: header"></div>
    <section class="page-section bg-light">
        <div class="container" id="_wrapper">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Presence</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>

            <table id="presence" class="table table-bordered table-striped table-hover-col-sm-3">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Employee Name</td>
                        <td>Department</td>
                        <td>Presence Status</td>
                        <th><input type="checkbox" id="checkall" class="checkitem" value=""></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="presence">
                <button class="btn btn-success" id="btn_presence_yes" type="button" onclick="submitPresenceYes()">present</button>
                <button class="btn btn-danger" id="btn_presence_no" type="button" onclick="submitPresenceNo()">absent</button>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <div th:replace="fragments/footer :: footer"></div>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

    <script th:src="@{/js/alert.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/index.js"></script>
    <script src="/js/presence.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

    <!--checkbox-->
    <!--<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />-->
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
</body>
</html>